.buttons-container-card {
    width: 50%;
    padding: 10px 20px;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.btn btn-outline-secondary btn-block border-radius-10 btn-list {
    display: flex;
    margin-right: 10px;
    text-align: center;
    padding-right: 10px;
    width: 85px;
}

.btn btn-outline-danger btn-block border-radius-10 btn-list {
    margin-right: 0px;
    margin-left: 5px;
}

.span-list {
    margin-left: 5px;
}

.btn-list {
    margin-top: 5px;
    font-size: 16px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.card-content-list {
    width: 400px;
    margin-left: 0;
    margin-top: 20px;
}

.catalog-products-list {
    margin-top: 25px;
}
